@model AirlineReservation.Models.flightSchedule

@{
    ViewBag.Title = "EditSchedule";
    Layout = "~/Views/Shared/_FlightscheduleLayout.cshtml";
}

<h2>EditSchedule</h2>

<section id="content">

    <article class="col1">
        <pre id="mainLink">Fill the form to build a schedule @ViewBag.username</pre>
        <a>@ViewBag.usename<a />
    </article>
    <article id="loaddata" class="col2 pad_left1">
        <div id="scheduleform">

            <h2>@ViewBag.error</h2>
            <form name="form1" method="post" action="/home/ConfirmSchedule" onsubmit="return validate()">
                <table border="0">
                    <th colspan="2">Add Schedule</th>
                    <tr>
                        <th nowrap scope="row">Flight Code </th>
                        <td>
                            <input name="flightid" type="text" id="flightid" value="@Model.Id" readonly="true"></td>
                    </tr>
                    <tr>
                        <th nowrap scope="row">Flight Code </th>
                        <td>
                            <input  type="text"  value="@Model.flightcode"  readonly="true">
                            <input name="flightcode" type="text" id="flightcode" placeholder="New Flight Code" onblur="validateTno()"></td>
                    </tr>
                    <tr>
                        <td scope="row">Area Code</td>

                        <td>
                            <input  type="text"  value="@Model.areacode"  readonly="true">
                            <input name="areacode" type="text" id="areacode" onblur="validateSeat()"></td>
                    </tr>
                    <tr>
                        <th scope="row">Departure Time</th>
                        <td>
                            <input  type="text"  value="@Model.departueTime"  readonly="true">
                            <input name="departureTime" type="text" id="departureTime" onblur="validateDest()"></td>
                    </tr>
                    <tr>
                        <th scope="row">Arrival Time </th>
                        <td>
                            <input  type="text"  value="@Model.arrivalTime"  readonly="true">
                            <input name="arrivalTime" type="text" id="arrivalTime" onblur="validatePayment()"></td>
                    </tr>
                    <tr>
                        <th scope="row">Destination </th>
                        <td>
                            <input  type="text"  value="@Model.destination"  readonly="true">
                            <input name="destination" type="text" id="destination" onblur="validateStatus()"></td>
                    </tr>
                    <tr>
                        <th scope="row">&nbsp;</th>
                        <td>

                            <input type="submit" name="Submit" value="Submit"></td>
                    </tr>
                </table>
                <div style="position: absolute; left: -227px; top: -1px; width: 207px;">
                    <p id="error">PLEASE INPUT CORECTLY</p>
                </div>
            </form>
        </div>
    </article>
</section>

